<nav class="sidebar-nav">
    <ul class="header-nav-list">
        <li class="nav-item">
            <a href="/pages/home.html" class="nav-link">
                <span class="nav-text">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/pages/games.html" class="nav-link">
                <span class="nav-text">Games</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/pages/movies.html" class="nav-link">
                <span class="nav-text">Movies</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/pages/about.html" class="nav-link">
                <span class="nav-text">About</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/pages/faq.html">
                <span class="nav-text">FAQ</span>
            </a>

        </li>
    </ul>

    <ul class="nav-list">
        <div id="profile-section">
            <li class="nav-item">
                <a href="/pages/user/dashboard.html" class="nav-link">
                    <span class="nav-text">My Profile</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/pages/user/reviews.html" class="nav-link">
                    <span class="nav-text">My Reviews</span>
                </a>
            </li>
        </div>

        <li class="nav-item nav-sep"></li>

        <li class="nav-item">
            <a href="/pages/signin.html" class="nav-link nav-cta" id="sign-in-btn">
                <span class="nav-text">Sign in</span>
            </a>
        </li>

        <!-- <li class="nav-item">
            <a href="" class="nav-link nav-cta hidden" id="logout-btn">
                <span class="nav-text">Sign out</span>
            </a>
        </li> -->
    </ul>
</nav>

<div class="sidebar-footer">
    <button id="sidebar-theme-toggle" class="theme-toggle" aria-pressed="false" aria-label="Toggle theme"
        title="Toggle theme">
        <span class="icon">🌙</span>
    </button><br><br>
    <small class="sidebar-copy">DReview • Team: Dauren, Roman</small>
</div>